<nav class="navbar navbar-dark bg-dark relative">
    <div class="container-fluid" id="container-fluid">
        <div style="width: 50%;" id="NavNameContent">
            <img src="./assets/dollar.png" alt="logo" width="40px" height="60px" style="margin-right:1.6rem">
            <a class="navbar-brand" href="#" id="TextNav">BotH</a>
        </div>
        <div style="width:50%" id="NavButtonContent">
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar" aria-controls="offcanvasDarkNavbar">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar" aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="TextSubNav">BotH</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/Form"> Automatic Process</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#"> Reports</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                          Coins'Arbitrage
                      </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="#">FTX</a></li>
                            <li><a class="dropdown-item" href="#">Binance</a></li>

                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>