/* You can add global styles to this file, and also import other style files */


/*ESPACIO PARA LOS IMPORTS*/

@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Rubik+Dirt&display=swap');
@import "~bootstrap-icons/font/bootstrap-icons.css";

/***************************/

#TextNav {
    color: rgb(160, 68, 160);
    transition: color 1s;
    font-family: 'Rubik Dirt', cursive;
    font-size: 2rem;
}

#TextNav:hover {
    color: darkkhaki;
}

#TextSubNav {
    color: rgb(185, 82, 168);
    transition: 1s;
}

#TextSubNav:hover {
    color: rgb(165, 60, 147)
}

#NavNameContent {
    display: flex;
    justify-content: right;
}

.navbar.navbar-dark.bg-dark.fixed-top {
    background: -webkit-linear-gradient(left, rgb(13, 13, 14), rgb(63, 38, 63), rgb(9, 9, 24))!important;
    position: flex;
}

#NavButtonContent {
    display: flex;
    justify-content: right;
}

#ButtomSearch {
    background-color: rgb(47, 34, 70);
    border-color: rgb(47, 44, 44);
    transition: 1s;
}

#ButtonSearch:hover {
    color: rgb(230, 227, 234);
}

.offcanvas.offcanvas-end.text-bg-dark.show {
    background: -webkit-linear-gradient(left, rgb(13, 13, 14), rgb(63, 38, 63), rgb(9, 9, 24));
}

footer {
    background: -webkit-linear-gradient(left, rgb(13, 13, 14), rgb(63, 38, 63), rgb(9, 9, 24));
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center;  */
}

#footer-column {
    height: 50%;
}

.footer-grid-container {
    display: flex;
}

.footer-grid {
    width: 20%;
    /* background-color: rgb(34, 146, 53); */
    margin: 9px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3rem;
}

.footer-grid-element {
    margin-left: 1.1rem;
}

.footer-grid-element.text {
    font-family: 'Rubik Dirt', cursive;
    margin-left: 0;
}

.footer-grid-element.text.secundary {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 0.8rem;
}

.Footer-logos {
    margin: auto;
    /* margin-top: 30px; */
    display: flex;
    flex-direction: column;
}

.container-table-cash {
    height: 750px;
    width: 100%;
    margin-top: 40px;
    display: flex;
    background: rgba(14, 0, 7, 1)/* -webkit-linear-gradient(left, rgba(109, 109, 222, 0.43), rgba(241, 205, 241, 0.649), rgb(146, 47, 155)); */
}

#Table_cash {
    margin: auto;
    width: 70%;
    padding: 10rem;
    color: white;
}


/*STYLES FOR BOTON TABLE*/

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: #8a22b7df;
    border: none;
    color: #FFFFFF;
    text-align: center;
    font-size: 1rem;
    padding: 0.3rem;
    width: 70%;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
}

.button span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}

.button:hover {
    box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.button span:after {
    content: '\00bb';
    position: absolute;
    opacity: 0;
    top: 0;
    right: -20px;
    transition: 0.5s;
}

.button:hover span {
    padding-right: 25px;
}

.button:hover span:after {
    opacity: 1;
    right: 0;
}


/********************************/