<div class="container-main-form-cash">

    <div class="container-form-cash">
        <div class="form-imag"></div>
        <div class="form-content">
            <h2 class="text-form-title">Automatic Process</h2>

            <div class="Container-span-button-update">
                <div class="btn-container">
                    <button type="button" class="btn btn-outline-warning">+</button>
                </div>
                <div class="title-container">
                    <span class="text-form">Seleccionar la(s) moneda(s)</span>
                </div>
            </div>
            <form class="Form-structure">

                <div class="Money-Selector-Container form-section" style="display:flex">
                    <div style="width:50%"> <span class="text-form">Moneda</span></div>
                    <div style="width:50%"><select class="select">
                    <option>Money 1</option>
                    <option>Money 2</option>
                    <option>Money 3</option>
                  </select>
                    </div>

                </div>

                <div class="Time-Start-Container form-section" style="display:flex">
                    <div style="width:50%"><span class="text-form">Hora inicio</span></div>
                    <div style="width:50%"><input class='InputTime' type="time" /></div>
                </div>

                <div class="Time-Container form-section" style="display:flex">
                    <div style="width:50%"><span class="text-form">Tiempo ejecución</span></div>
                    <div style="width:50%"> <input class='InputTime' type="time" /></div>
                </div>

                <div class="List-Money-container form-section" style="display:flex;justify-content:center;height:40%;flex-direction: column;">
                    <span style="text-align:center" class="text-form">Lista</span>

                    <div class="container-list-money">
                        <ul class="list-group" style="list-style: none;">
                            <li>
                                <input class="form-check-input me-1" type="checkbox" value="" id="firstCheckbox">
                                <label class="form-check-label" for="firstCheckbox">First cash Register</label>
                            </li>
                            <li>
                                <input class="form-check-input me-1" type="checkbox" value="" id="secondCheckbox">
                                <label class="form-check-label" for="secondCheckbox">Second cash Register</label>
                            </li>
                            <li>
                                <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                                <label class="form-check-label" for="thirdCheckbox">Third cash Register</label>
                            </li>
                            <li>
                                <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                                <label class="form-check-label" for="thirdCheckbox">Four cash Register</label>
                            </li>
                            <li>
                                <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                                <label class="form-check-label" for="thirdCheckbox">Five cash Register</label>
                            </li>
                            <li>
                                <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                                <label class="form-check-label" for="thirdCheckbox">Six cash Register</label>
                            </li>
                            <li>
                                <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                                <label class="form-check-label" for="thirdCheckbox">Sevent cash Register</label>
                            </li>
                            <li>
                                <input class="form-check-input me-1" type="checkbox" value="" id="thirdCheckbox">
                                <label class="form-check-label" for="thirdCheckbox">Eight cash Register</label>
                            </li>
                        </ul>

                    </div>
                </div>

                <div class="Execute-button-container form-section">
                    <button type="button" class="btn btn-warning" style="font-size: 1rem; text-align: center;align-items: center;margin:auto;">Ejecutar</button>
                </div>

            </form>









        </div>
    </div>

</div>